
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 27px;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.7s;  
    text-align: center;
}


header.sticky{
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

header.sticky div a{
    color: black;
    text-shadow:rgb(0, 0, 0) 0px 0 3px;
}

#logo{
    width: 140px;
    transition: 0.3s;
}

.logo1{
    width: 6%;
    transition: 0.3s;
}

.logo1:hover{
    width: 7%;

    
}

#logo:hover{
    width: 150px;

}

.nav1{
    letter-spacing: 1px;
    text-decoration: none;
}

.nav1 a{
    text-decoration: none;
    padding: 10px;
    margin: 60px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    transition: 0.24s;
}

.nav1 a:hover{
    color: #d7d888;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;

    font-size: 21px;
}


.sectb{
    width: 100%;
    height: 100vh;
    background-image: url(ressource/cccccccccar-Mercedes-Benz-green-cars-road-trees-landscape-1448455-wallhere.com.png);
    background-position-y: -400px;
    position: static;
}

#text1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px; 
    position: absolute;
    bottom: 60px;
    left: 20px;
    text-shadow:rgb(255, 255, 255) 0px 0 1px;
}

#boutton{
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    background-color: rgb(179, 116, 0);
    border-radius: 24px;
    padding: 14px;
    align-items: center;
    margin-top: 200px;
    position: absolute;
    right: 70px;
    bottom: 55px;
    text-decoration: none; 
    transition: 0.44s;  
}

#boutton:hover{
    background-color:rgb(194, 133, 19);

    box-shadow: rgb(173, 199, 28) 0px 0 3px;
    padding: 14.5px;
}







.sect3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
    flex-direction: column;


}


h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    padding: 40px;
    letter-spacing: 1px;

}

h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    padding: 40px;
    letter-spacing: 1px;

}


.sect3 p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#text1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px; 
    position: absolute;
    margin-top: 430px;
    margin-left: 40px;
    text-shadow:rgb(255, 255, 255) 0px 0 1px;
}

#boutton{
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    background-color: rgb(179, 116, 0);
    border-radius: 24px;
    padding: 14px;
    align-items: center;
    margin-top: 200px;
    position: absolute;
    right: 70px;
    bottom: 55px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

#boutton:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#boutton:active{
    box-shadow: none;
    transform: translateY(0);
    background-color: #ccc;
}




.gallery{
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 0 14px;
    height: 100%;
    opacity: .9;


    
}

.gallery li{
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
    transition: 0.2s;
    
}


.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    border-radius: 10px;

}

.gallery img:hover{
    width: 101%;
    opacity: 1;
}

.gallery:hover > :not(:hover){
    filter: brightness(60%);

}



.cadre{
    position: relative;
}

span{
    position: absolute;
    bottom: 90px;
    left: 35%;
    z-index: 10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 40px;

}



::-webkit-scrollbar {
  width: 10px;
}

/* Rail de la barre de défilement */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Curseur de la barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}








footer{
    margin: 0;
    padding: 40px 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: rgb(255, 255, 255);


}

.footer .social {

    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;


}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #000000;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    opacity: 0.75;
    color: #000000;


}


.footer .social a:hover {

    opacity: 1;
    color: #3d3d3d;
}

.footer ul {

    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;

}

.footer ul a {
    color: inherit;
    opacity: 0.9;
    text-decoration: none;
    justify-content: space-between
}


.footer ul li{

    display: inline-block;
    padding: 10px;
    opacity: 0.65;


}

.footer ul li:hover{

    opacity: 1;


}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #000000;

}


.burgermenu{
    flex-direction: column;
    display: flex;
    padding-top: 90px;
    justify-content: space-between;
    height: 120px;
    float: right;
    margin-right: 70px;
    z-index: 5px;
}

.burgermenu a{
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
    width: 70px;
    padding: 4px;
    z-index: 5px;
}


.burgermenu p{
    color: white;
}

.burgermenu a:hover{
    padding: 5px;
    color: #d7d888;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    z-index: 5px;
}

.burgermenuu{
    min-width: 100%!important;
    width: 100%;
    height: 100%;
    position: fixed;

}



#menu{
    overflow: hidden;
    width: 0px;
    min-width: 0;
    z-index: 5px;
    transition-duration: 1s, 0.5s ;
    transition-property: height;
}